// app global css in SCSS form

.small-screen-only{
    @media (max-width:$breakpoint-xs-max){
        display:block;
    }

    @media (max-width:$breakpoint-sm-max){
        display:none;
    }
    @media (max-width:$breakpoint-md-min){
        display:none;
    }
}
 
.large-screen-only{
    @media (max-width:$breakpoint-xs-max){
        display:none;
    }
    @media (max-width:$breakpoint-sm-min){
        display:none;
    }
    @media (max-width:822px){
        display:none;
    }
    @media (min-width:$breakpoint-sm-max){
        display:block;
    }
    @media (min-width:$breakpoint-md-min){
        display:block;
    } 
    @media (min-width:$breakpoint-md-max){
        display:block;
    }
}

.small-screen-padding{
    @media (max-width:808px){
        padding: 0px !important;
    }
    @media (max-width:999px){
        padding: 46px !important;
    }
    @media (max-width:1520px){
        padding: 16px !important;
    }
    @media (max-width:1520px){
        padding: 16px !important;
    }
    @media (max-width:1177px){
        width: 454px !important;
    }
}

.credit-card-large-screen{
    @media (max-width:600px){
    width: 414px;

    }
}
 
