// app global css in SCSS form

.small-screen-only{
    @media (max-width:$breakpoint-xs-max){
        display:block;
    }

    @media (max-width:$breakpoint-sm-max){
        display:none;
    }
    @media (max-width:$breakpoint-md-min){
        display:none;
    }
    @media (max-width:700px){

display: block;
    }
    @media (min-width:701px){
        display: none !important;
    }
}
 
.large-screen-only{
    @media (max-width:$breakpoint-xs-max){
        display:none;
    }
    @media (max-width:$breakpoint-sm-min){
        display:none;
    }
    @media (max-width:714px){
        display:none;
    }
    @media (min-width:$breakpoint-sm-max){
        display:block;
    }
    @media (min-width:$breakpoint-md-min){
        display:block;
    } 
    @media (min-width:$breakpoint-md-max){
        display:block;
    }
}

.small-screen-padding{
    @media (max-width:808px){
        padding: 0px !important;
    }
    @media (max-width:999px){
        padding: 0px !important;
    }
   @media (min-width:1100px) {
       width: 906px;
   }
  
}

.mobile__top-section{
    @media (max-width:600px){
background-color: #0c365a;
width: 100%;
color: #fff;
    }
}
.mobile__bottom-section {
    @media(max-width:600px){
        background-color: #fff !important;

    }
}
.credit-card-large-screen{
    @media (max-width:600px){
    width: 414px;

    }
}
 
